export OS_TENANT_NAME={{ keystone_admin_tenant }}
export OS_USERNAME={{ keystone_admin_name }}
export OS_PASSWORD={{ keystone_admin_pass }}
export OS_AUTH_URL=http://{{ keystone_service_domain }}:{{ keystone_service_admin_port }}/v2.0